.sky-day{
 background-color: lightblue;
}
.sky-night{
    background-color: darkblue;
}
.earth-night{
 background-color: darkslategrey;
}
.earth-day{

    background-color: green;
}
.sun{
    top: 80%;
    left: 10%;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    transition: .5s;
}
select{
    position: relative;
    z-index: 2;
    display: block;
    border: 0;
    background-color: lightgray;
    padding: 9px;
    margin-bottom: 15px;
}
