/* @media (max-width: 900px) {
  #form {
    width:100% 
  }
}
@media (min-width: 901px) {
  #form{ 
    width: 50%
  }
} */
html, body{
  font-family: 'Roboto', sans-serif;
}
#input{
  border:0px
}
#input::placeholder {
  color: white;
}
@media (min-width:499px){
  ol{
    columns:1;
  }
}
@media (min-width:500px){
  ol{
    columns:2;
  }
}
@media (min-width:750px){
  ol{
    columns:3;
  }
}
@media (min-width:1050px){
  ol{
    columns:4;
  }
}
@media (min-width:1300px){
  ol{
    columns:5;
  }
}
@media (min-width:1550px){
  ol{
    columns:6;
  }
}
.blurred{
  filter: blur(15px);
}
#pop-up{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pop-up-hided{
  cursor: pointer;
  display: none;
}
